{% extends "constructor/base.html" %}

{% block title %}Create New Cat{% endblock %}

{% block content %}
<h1>Create New Cat</h1>
<form action="{{ url_for('main.create_cat_route') }}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="age">Age:</label>
    <input type="number" id="age" name="age">
    <label for="breed">Breed:</label>
    <input type="text" id="breed" name="breed">
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    <label for="status">Status:</label>
    <input type="text" id="status" name="status">
    <label for="shelter_id">Shelter ID:</label>
    <input type="number" id="shelter_id" name="shelter_id">
    <button type="submit">Create</button>
</form>
{% endblock %}
