{% extends "constructor/base.html" %}

{% block title %}Update Location{% endblock %}

{% block content %}
<h2>Update Location</h2>
<form method="POST" action="{{ url_for('main.update_location', location_id=location.id) }}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ location.name }}" required>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required>{{ location.description }}</textarea>
    <br>
    <label for="info">Info:</label>
    <textarea id="info" name="info" required>{{ location.info }}</textarea>
    <br>
    <input type="submit" value="Update Location">
</form>
<a href="{{ url_for('main.location_list') }}">Back to Locations List</a>
{% endblock %}
