{% extends "constructor/base.html" %}

{% block content %}
<h1>Shelter Account Details</h1>
<p>Name: {{ shelter_account.name }}</p>
<p>Email: {{ shelter_account.email }}</p>
<p>Password: {{ shelter_account.password }}</p>
<p>Shelter ID: {{ shelter_account.shelter_id }}</p>
<p>Created At: {{ shelter_account.created_at }}</p>
<p>Updated At: {{ shelter_account.updated_at }}</p>
<a href="{{ url_for('main.update_shelter_account_route', shelter_account_id=shelter_account.id) }}">Update</a>
<form action="{{ url_for('main.delete_shelter_account_route', shelter_account_id=shelter_account.id) }}" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a href="{{ url_for('main.shelter_account_list') }}">Back to Shelter Accounts List</a>
{% endblock %}
