{% extends "base.html" %}

{% block title %}Shelters List{% endblock %}

{% block content %}
    <h1>Shelter List</h1>
    <p>Details about the available shelters.</p>

    {% if shelters %}
        <ul>
            {% for shelter in shelters %}
                <li>
                    <strong>{{ shelter.name }}</strong> - {{ shelter.location }}  
                    <p>{{ shelter.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No shelters available at the moment.</p>
    {% endif %}
{% endblock %}
