{% extends "constructor/base.html" %}

{% block title %}Adopt {{ cat.name }}{% endblock %}

{% block content %}
<h1>Adopt {{ cat.name }}</h1>
<form action="{{ url_for('main.adopt_cat_route', cat_id=cat.id) }}" method="post">
    <label for="adopter_name">Your Name:</label>
    <input type="text" id="adopter_name" name="adopter_name">
    <label for="adopter_contact">Your Contact:</label>
    <input type="text" id="adopter_contact" name="adopter_contact">
    <button type="submit">Adopt</button>
</form>
{% endblock %}
