{% extends "constructor/base.html" %}

{% block title %}Create New Cat{% endblock %}

{% block content %}
<h1>Create New Cat</h1>
<form action="{{ url_for('main.create_cat') }}" method="post">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </li>
        <li>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age">
        </li>
        <li>
            <label for="breed">Breed:</label>
            <input type="text" id="breed" name="breed">
        </li>
        <li>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </li>
        <li>
            <label for="status">Status:</label>
            <input type="text" id="status" name="status">
        </li>
        <li>
            <label for="shelter_id">Shelter ID:</label>
            <input type="number" id="shelter_id" name="shelter_id">
        </li>
        <li>
            <button type="submit">Create</button>
        </li>
    </ul>
</form>
{% endblock %}
