{% extends "constructor/base.html" %}

{% block content %}
<h1>{{ dog.name }}</h1>
<p>Age: {{ dog.age }}</p>
<p>Breed: {{ dog.breed }}</p>
<p>Description: {{ dog.description }}</p>
<p>Status: {{ dog.status }}</p>

<a href="{{ url_for('main.update_dog_route', dog_id=dog.id) }}" class="btn btn-primary">Update</a>
<form action="{{ url_for('main.delete_dog_route', dog_id=dog.id) }}" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a href="{{ url_for('main.dog_list') }}" class="btn btn-secondary">Back to Dog List</a>
{% endblock %}
