<nav>
    <ul>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.about') }}">About</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
        <li><a href="{{ url_for('main.report') }}">Report Animal</a></li>
        <li><a href="{{ url_for('main.map') }}">Map</a></li>
        <li><a href="{{ url_for('main.chat') }}">Chat</a></li>
        <li><a href="{{ url_for('main.community') }}">Community</a></li>
        <li><a href="{{ url_for('main.donate') }}">Donate</a></li>
    </ul>
</nav>
